.sense-toolbar > .ui.inverted.menu {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 2px;
}

.sense-toolbar > .ui.inverted.menu:last-child {
  margin-right: 0;
}

.sense-toolbar > .ui.inverted.menu .item {
  padding: 0.428571em;
}

.sense-toolbar > .ui.inverted.menu .item.disabled {
  color: rgba(225,225,225,.3) !important;
}

.sense-toolbar > .ui.inverted.menu .item:before {
  width: 0;
}

.sense-toolbar > .ui.inverted.menu .item > .sense-svg-icon {
  width: 1.714285em;
  height: 1.714285em;
  pointer-events: none;
}

.ui.inverted.popup {
  padding: 0.428571em 0.714285em;
}

.sense-toolbar .sense-toolbar__zoom-level {
  flex-direction: row-reverse;
  min-width: 3.5em;
  font-family: monospace;
}