.inspector {
  position: relative;
  color: #4a4a4a;
  height: 100%;
  max-height: 100%;
  padding-bottom: 64px;
  overflow: hidden;
}

.inspector .ui.form .field>label {
  color: #2d323a;
  font-weight: normal;
}

.inspector .ui.form .ui.input input,
.inspector .ui.form textarea {
  border-radius: 10px;
  border: solid 1px #d6dee9;
  background-color: #fff;
}

.inspector .inspector__content {
  height: 100%;
  max-height: 100%;
  padding: 1em;
  overflow-y: scroll;
}

.inspector .inspector__content::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.inspector .inspector__actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background: #fff;
}

.inspector .inspector__actions .ui.buttons {
  float: right;
}

.inspector .ui.form textarea {
  height: 38px; /* 75px * 0.5 */
}

.inspector > .inspector__content {
  padding: 0;
  box-shadow: inset 0px -2px 10px 0 rgba(0, 0, 0, 0.1);
}

.inspector > .inspector__content .ui.attached.tabular.menu {
  background: #d8d8d8;
  border: 0;
}

.inspector > .inspector__content .ui.attached.tabular.menu > .item {
  border-radius: 0 !important;
}

.inspector > .inspector__content .ui.attached.tabular.menu > .item:before,
.inspector > .inspector__content .ui.attached.tabular.menu > .item:after {
  width: 0;
}

.inspector > .inspector__content .ui.attached.tabular.menu > .active.item {
  background: #f5f5f5;
  border: 0;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.inspector > .inspector__content .ui.attached.tabular.menu > .active.item:before,
.inspector > .inspector__content .ui.attached.tabular.menu > .active.item:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: auto;
  bottom: 0;
  background: #f5f5f5;
}
.inspector > .inspector__content .ui.attached.tabular.menu > .active.item:before {
  display: block;
  right: 100%;
  background: radial-gradient(circle at top left, transparent 8px, #f5f5f5 0) top left;
}
.inspector > .inspector__content .ui.attached.tabular.menu > .active.item:after {
  left: 100%;
  background: radial-gradient(circle at top right, transparent 8px, #f5f5f5 0) top right;
}

.inspector > .inspector__content .ui.attached.segment.tab {
  background: #f5f5f5;
  border: 0;
}

.inspector > .inspector__content > .ui.form > .box-content__share > .ui.basic.button,
.inspector > .inspector__content > .ui.form > .card-content__share > .ui.basic.button {
  background-color: transparent !important;
  color: #50e3c2 !important;
  box-shadow: 0 0 0 1px #50e3c2 inset;
}

.inspector > .inspector__content > .ui.form > .box-content__share > .ui.active.basic.button,
.inspector > .inspector__content > .ui.form > .card-content__share > .ui.active.basic.button {
  background-color: #50e3c2 !important;
  color: #f5f5f5 !important;
}

@media screen and (min-width: 641px) {
  .inspector .ui.form textarea {
    height: 38px;
  }
}

@media screen and (min-width: 801px) {
  .inspector .ui.form textarea {
    height: 45px; /* 75px * 0.6 */
  }
}

@media screen and (min-width: 1025px) {
  .inspector .ui.form textarea {
    height: 75px;
  }
}