.card-type-selector .field {
  display: inline-block;
  margin-bottom: 0;
}

.card-type-selector .ui.radio.checkbox {
  width: 72px;
}

.card-type-selector .ui.radio.checkbox label {
  line-height: 32px;
  padding-left: 0;
  padding-top: 32px;
  text-align: center;
}

.card-type-selector .ui.radio.checkbox input~label:before {
  width: 32px;
  height: 32px;
  left: 20px; /* (72px - 32px) / 2 */
}

.card-type-selector .ui.radio.checkbox input~label:after {
  width: 32px;
  height: 32px;
  left: 20px;
  -webkit-transform: scale(0.75);
  transform: sacle(0.75);
}

/* the default card type style */
.card-type-selector .ui.radio.checkbox input:checked~label:after {
  border: 1px solid #000000;
  background-color: #ffffff;
}

.card-type-selector .ui.radio.checkbox.card-type-selector__normal input:checked~label:after {
  border: 1px solid #979797;
  background-color: #ffffff;
}

.card-type-selector .ui.ui.radio.checkbox.card-type-selector__note input:checked~label:after {
  border: 1px solid #ffe384;
  background-color: #ffe384;
}

.card-type-selector .ui.radio.checkbox.card-type-selector__question input:checked~label:after {
  border: 1px solid #ff9999;
  background-color: #ff9999;
}

.card-type-selector .ui.radio.checkbox.card-type-selector__answer input:checked~label:after {
  border: 1px solid #a7ccf2;
  background-color: #a7ccf2;
}