.inbox__sync-btn.ui.basic.button:focus {
  background-color: transparent !important;
  box-shadow: 0 0 0 1px #909090 inset;
  color: #909090 !important;
}

.inbox__sync-btn.ui.basic.button:hover {
  background-color: transparent !important;
  box-shadow: 0 0 0 1px #909090 inset;
  color: #909090 !important;
}

.inbox__sync-btn.ui.basic.button {
  box-shadow: 0 0 0 1px #909090 inset;
  color: #909090 !important;
}

.inbox__sync-btn.ui.basic.button.disabled {
  box-shadow: 0 0 0 1px #909090 inset !important;
}