.inbox-card {
  height: 124px;
  border-radius: 4px;
  margin: 2px 0;
  padding: 2px;
}

.inbox-card .ui.content {
  width: 100%;
}

.inbox-card.card--focused {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  border: solid 2px #3ad8fa;
}

.card__body {
  height: 120px;
  border-radius: 4px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  overflow: hidden;
}

.inbox-card.card--not-in-map .card__body {
  background-color: #ffffff;
}

.inbox-card.card--in-map .card__body {
  background-color: rgb(176, 176, 176);
}

.inbox-card.card--not-in-map.card--question .card__body {
  background-color: rgba(255, 236, 239);
}

.inbox-card.card--in-map.card--question .card__body {
  background-color: rgb(147, 112, 127);
}

.inbox-card.card--not-in-map.card--answer .card__body {
  background-color: rgba(222, 255, 245);
}

.inbox-card.card--in-map.card--answer .card__body {
  background-color: rgb(71, 138, 138);
}

.inbox-card.card--not-in-map.card--note .card__body {
  background-color: #ffffef;
}

.inbox-card.card--in-map.card--note .card__body {
  background-color: #eeedd1;
}

.inbox-card.card--not-in-map.card--problem .card__body {
  background-color: #ffecef;
}

.inbox-card.card--in-map.card--problem .card__body {
  background-color: #e5ced1;
}

.inbox-card.card--not-in-map.card--solution .card__body {
  background-color: #effaff;
}

.inbox-card.card--in-map.card--solution .card__body {
  background-color: #cedde5;
}

.inbox-card.card--not-in-map.card--definition .card__body {
  background-color: #defff5;
}

.inbox-card.card--in-map.card--definition .card__body {
  background-color: #c0e2d8;
}

.inbox-card.card--not-in-map.card--info .card__body {
  background-color: #fff;
}

.inbox-card.card--in-map.card--info .card__body {
  background-color: #d8d8d8;
}

.card__creator {
  font-size: 0.625rem;
  color: #9b9ca9;
}

.card__summary {
  height: 32px;
  font-family: NotoSansCJKtc;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.card__description {
  height: 28px;
  font-size: 0.875rem;
  color: #4a4a4a;
}

.card__tag-panel {
  margin-top: 6px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card__tag {
  margin-right: 4px;
}

.card__tag {
  height: 24px;
  border-radius: 4px;
  background-color: #e7e7e7;
  padding: 3px;

  font-family: PingFangTC;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}
