.ui.menu.sense-submenu {
  margin-top: 12px;
}

.ui.right.menu.sense-submenu {
  margin-left: auto;
}

.ui.right.menu.sense-submenu > .item {
  margin-right: 16px;
  font-size: 1.142857rem;
  color: #9b9da9;
}

.ui.right.menu.sense-submenu > .active.item {
  color: #4a4a4a;
}

.ui.menu.sense-submenu > .item.sense-submenu__annotation:hover {
  background-color: #000;
  color: #fff;
}

.ui.menu.sense-submenu > .item.sense-submenu__annotation {
  margin-right: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 0.285714rem;
  height: 36px;
  font-size: 1rem;
}

.ui.menu.sense-submenu > .ui.dropdown {
  width: 40px;
  line-height: 40px;
  margin-right: 3px;
}

.ui.menu.sense-submenu > .ui.dropdown > i.icon {
  margin-right: 0;
}

.ui.menu.sense-submenu > .ui.dropdown > .left.menu {
  display: none;
  margin-top: 3px;
}