<html>
<head>
<title>Authorization completed</title>
<script type="application/json" class="js-hypothesis-settings">
{
  "code": "<%= code %>",
  "origin": "<%= origin %>",
  "state": "<%= state %>"
}
</script>
<script src="/scripts/post-auth.bundle.js"></script>
</script>
</head>
</html>
