.inbox {
  background-color: #000;
  padding-top: 0.1px; /* XXX fix the blank space on top */
  padding-bottom: 24px;
  height: 960px;
}

.inbox__actions {
  margin: 20px 10px;
}

.inbox__actions > * {
  vertical-align: top;
}

.inbox__actions > .inbox__divider {
  margin: 1px 9px 1px 0;
}

.inbox__action.ui.basic.button {
  margin: 1px 9px 1px 0;
}

.inbox__action.ui.basic.button:focus {
  background-color: transparent !important;
  box-shadow: 0 0 0 1px #909090 inset;
  color: #909090 !important;
}

.inbox__action.ui.basic.button:hover {
  background-color: transparent !important;
  box-shadow: 0 0 0 1px #909090 inset;
  color: #909090 !important;
}

.inbox__action.ui.basic.button {
  box-shadow: 0 0 0 1px #909090 inset;
  color: #909090 !important;
}

.inbox__action.ui.basic.button.disabled {
  box-shadow: 0 0 0 1px #909090 inset !important;
}

.inbox__add-card-btn {
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
}

.inbox__add-card-btn button {
  width: 100%;
}

.inbox__pagination {
  margin-top: 24px;
  position: relative !important; /* XXX broken by a `.map-page .ui.menu` rule */
}
