/* the main menu */
.sense-header .ui.inverted.menu {
  background-color: #000;
  border-radius: 0;
  margin-bottom: 0;
}

.sense-header .ui.inverted.menu .item {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* the dropdown menu */
.sense-header .right.menu .icon {
  color: #757575;
}

/* the submenu */
.sense-header > .sense-header__submenu {
  display: flex;
  height: 52px;
  border-bottom: solid 1px #e6e6e6;
}

.sense-header > .sense-header__submenu > .ui.breadcrumb {
  text-transform: uppercase;
  font-size: 1.142857rem;
  line-height: 52px;
  margin-left: 16px;
}

.sense-header > .sense-header__submenu > .ui.breadcrumb > .section {
  color: #9b9da9;
}

.sense-header > .sense-header__submenu > .ui.breadcrumb > .divider {
  color: #4a4a4a;
}

.sense-header > .sense-header__submenu > .ui.breadcrumb > .active.section {
  color: #4a4a4a;
}