.map-page {
  position: relative;
}

.map-page .sidebar {
  background-color: #f5f5f5;
}

.map-page .sidebar .inspector-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.map-page .ui.menu {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
}

.map-page .ui.segment.breadcrumb {
  position: absolute;
  top: 16px;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}