.card-actions {
  width: 292px;
  height: 76px;
  border-radius: 4px;
  background-color: rgba(58, 216, 250, 0.8);
  background-blend-mode: lighten;
  background-image: linear-gradient(rgba(58, 216, 250, 0.8), rgba(58, 216, 250, 0.8));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-actions .button {
  max-height: 3em;
}
